{% extends 'base-template.html' %}
{% load static %}

{% block styling %}
<link rel="stylesheet" href="{% static 'daftar-permohonan.css' %}">
{% endblock %}

{% block title %}
Daftar Permohonan
{% endblock %}

{% block content %}
<div id="tk_container">
    <form id="bigform" class="form-daftar col-12" action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="center">
                <div class="form-field">
                    <p>JUDUL DONASI</p>
                    <p> {{ form.nama_donasi }} </p>
                </div>
                <div class="form-field">
                    <p>TIPE DONASI</p>
                    <p>{{ form.pilihan_kategori_alasan }}</p>
                </div>
        </div>
        <div class="center">
            <div class="form-field">
                <p>NAMA PEMOHON</p>
                <p>{{ form.nama_pemohon }}</p>
            </div>
            <div class="form-field">
                <p>EMAIL PEMOHON</p>
                <p>{{ form.email }}</p>
            </div>
        </div>
        <div class="center">
            <div class="form-field">
                <p>NO TELP PEMOHON</p>
                <p>{{ form.nomor_telp }}</p>
            </div>
            <div class="form-field">
                <p>JUMLAH DONASI (Rp)</p>
                <p>{{ form.target_uang }}</p>
            </div>
        </div>
        <div class="center">
            <div class="form-field">
                <p>BANK PEMOHON</p>
                <p>{{ form.bank }}</p>
            </div>
            <div class="form-field">
                <p>NOMOR REKENING</p>
                <p>{{ form.rekening }}</p>
            </div>
        </div>
        <div class="center form-baris-deskripsi">
            <div class="form-field">
                <p>DESKRIPSI DONASI</p>
                <p><input type="text" name="deskripsi_alasan" cols="40" rows="10" maxlength="500" class="input deskripsi-alasan" required="" id="id_deskripsi_alasan" spellcheck="false" ></input></p>
            </div>
        </div>
        <div class="center">
            <div class="form-field">
                <p>DEADLINE</p>
                <p>{{ form.deadline }}</p>
            </div>
            <div class="form-field">
                <p>FOTO</p>
                <p>{{ form.image_donasi }}</p>
            </div>
        </div>

        <input class="submit" type="submit" value="SUBMIT">

    </form>
</div>
{% endblock %}
