{% extends 'base-template.html' %}
{% block title %}
{{ permohonan.nama_donasi }}
{% endblock %}
{% block content %}
<div id="bg_hijau">

    <div class="center pt-4">
        <h1 id="tulisan_line">{{ permohonan.nama_donasi }}</h1>
    </div>

    <div class="center">
        <img src="{{ permohonan.image_donasi.url }}" alt="image" id="image_donasi">
    </div>

    <div class="center mt-4 ">
            <div id="tulisan_profil">
                    <p><b>Nama pemohon:</b> &emsp; {{ permohonan.nama_pemohon }}</p>
                    <p><b>Email:</b>  &emsp; {{ permohonan.email }}</p>
                    <p><b>Nomor telp:</b> &emsp; {{ permohonan.email }}</p>
            </div>
    </div>

    <div class="center mt-4 pt-4 mb-4 pb-4">
            <div id="tulisan_center">
                    <p>{{ permohonan.deskripsi_alasan }}</p>
                    <h3 id="duit2"> 
                        Rp. {{ permohonan.uang_terpenuhi }} / Rp. {{ permohonan.target_uang }}
                    </h3>
                    <p>
                        Deadline: {{ permohonan.deadline }}
                    </p>
                </div>
    </div>







<div class="comment-section pt-2 pb-4 mb-2" id="komen_form">
    <form action="" method="post">
        {% csrf_token %}

        <div class="center mt-4 pt-4 mb-4">
            <h4>Comments</h4>
        </div>

        <div class="center">
            {{ form.comment }}
        </div>
        
        <div class="center mt-4 pt-4">
            <input class="submit" type="submit" value="Submit">
        </div>
    </form>
</div>


<div class="row mt-4 pt-4 mb-2 pb-2">

        <!-- {% if comments %}
        <div class="row mt-4 pt-4" id="semua_komen">
                {% for comment in comments %}
                <div class="col-xl-3 col-md-4 col-12 p-4 m-4" id="kotak_saran">
                                <p>{{ comment.comment }}</p>
                                <p>{{ comment.pemilik }}</p>
                                <p>{{ comment.dateTime }}</p>    
                </div>
                {% endfor %}
        </div>
        {% endif %} -->


        {% if comments %}
        {% for comment in comments %}

            <div class="col-xl-3 col-md-4 col-12 p-4 m-4 comment" id="kotak_saran">
                    <style>
                        #kotak_saran{
                            color: #031b43;
                        }    
                    </style>

                <h3><b>{{ comment.pemilik }}</b></h4>
                <h5>{{ comment.comment }}</h5>
                <h6>{{ comment.dateTime }}</h6>
            </div>
        {% endfor %}
    {% endif %}

</div>


</div>

{% endblock %}