{% extends 'base-template.html' %}
{% load static %}
{% block title %}
List Donasi
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/getDataSemuaPermohonan.js' %}"></script>
{% endblock %}

{% block content %}
<div id="sp_container">
    <div class="pt-4">
            <div class="center" id="sp_search">
                    <!-- <form method="GET" action="{% url 'permohonan:list-permohonan' %}"> -->
                <div class="search_container">
                        <input id="search_input" class="form-control" type="text" name="query" placeholder="cari donasi...">
                        <div class="center m-4">
                                <input class="submit" type="submit" id="search_submit" value="Search">
                        </div>
                </div>
            </div>
            
            <div class="card-group row ml-4 mr-4" id="sp_result">
            </div>
            
            {% endblock %}


    </div>
        
</div>
