{% extends 'base-template.html' %}
<!-- {% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'daftar-permohonan.css' %}">
{% endblock %} -->

{% block title %}
Tentang Kami
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/postSaran.js' %}"></script>
{% endblock %}

{% block content %}

<div id="tk_container">
        <div class="center pt-5">
            <h1 id="tk_judul">Tentang Kami</h1>
        </div>


        <div class="center pt-5">
                <h5 id="tk_ket">Situs galang dana no.1 di Indonesia, bantu sesama dengan donasi mudah di <b>Donatsi</b>. 
                        Gotong royong membantu banyak saudara kita yang membutuhkan bantuan di <b>Donatsi</b>. 
                        Kebaikan menunggumu. Saatnya jadi pahlawan!</h5>
            </div>

        <div class="center mt-5">
            <form  method="post" action="">
                    {% csrf_token %}

                    <div id="formsaran">
                        <p>{{ form.saran }}</p>
                    </div>
                    
                    <div class="center mt-3">
                            <input class="submitputih" type="submit" value="Submit">
                    </div>
                </form>

        </div>

        {% if comments %}
        <div class="row mt-4 pt-4" id="semua_komen">
                {% for komen in comments %}
                <div class="col-xl-3 col-md-4 col-12 p-4 m-4" id="kotak_saran">
                        <!-- <div class="card-body"> -->
                                <h4><b>{{ komen.pemilik }}</b></h4>
                                <p>{{ komen.saran }}</p>          
                        <!-- </div> -->
                </div>
                {% endfor %}
        </div>
        {% endif %}
    
</div>

{% endblock %}
