{% extends 'base-template.html' %}
{% load static %}
{% block title %}
{{user.username}}
{% endblock %}

{% block content %}

<div id="bg_hijau">
<div class="container center mt-4 pt-4 mb-4 pb-4">
<h1>you're logged in as <span id="tulisan_line">{{ user }}</span></h1>
</div>


<div class="container center mb-4 pb-4">
        <div id="tulisan_profil ">
                <p><b>Username:</b> &emsp; {{ user }}</p>
                <p><b>First name:</b> &emsp; {{ user.first_name }}</p>
                <p><b>Last name:</b> &emsp; {{ user.last_name }}</p>
                <p><b>Email: </b>&emsp; &emsp; {{ user.email }}</p>
        </div>
</div>
</div>


    <div id="rc_formcard">
        {% if recommendations %}
        <div class="card-group row" id="rc_cardcontainer">
            {% for permohonan in recommendations %}
                <div class="col-xl-3 col-md-4 col-12" id="rc_donations">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ permohonan.image_donasi.url }}" alt="image">
                        <div class="card-body">
                            <h4 class="card-title">{{ permohonan.nama_donasi }}</h4>
                            <p class="card-text">Kategori: {{ permohonan.kategori_alasan }}</p>
                            <p class="card-text">Deskripsi: {{ permohonan.deskripsi_singkat }}</p>
                            <h5 class="card-text duit">Rp. {{ permohonan.uang_terpenuhi }} / Rp. {{ permohonan.target_uang }}</h5>
                            <p class="card-text">Deadline: {{ permohonan.deadline }}</p>
                            <a href="{% url 'pemberian:daftar_pemberian' id=permohonan.id %}"><button class="submit">Donate</button></a>
                            <a href="{% url 'permohonan:detail-permohonan' id=permohonan.id %}"><p id="details" class="permohonan-details">Details</p></a>            
                        </div>
                </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="center mt-4 pt-4" id="no_donations">
            <p>You haven't opened a donation yet</p>
        </div>
        {% endif %}
    
    </div>


{% endblock %}
</div>
