{% extends 'base-template.html' %}
<!-- {% load static %}
{% block styling %}
<link rel="stylesheet" href="{% static 'daftar-permohonan.css' %}">
{% endblock %} -->

{% block title %}
Tentang Kami
{% endblock %}
{% block content %}

<div id="tk_container">
    <style>
        #tk_container{
            color: white;
            height: 100vh;
        }
    </style>
    <div class="center pt-4 mb-4 pb-4">
            <h1 id="tulisan_line">Register</h1>
    </div>

    <div class="center">

            <div class="container">
                
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="submit" type="submit">Submit</button>
                    </form>
            </div>

    </div>
 
    
</div>

{% endblock %}