/* @media (min-width: 1200px) { */
    /*  ALL  */
    
    #tk_container{
        background: url("/static/bg2.15a1a9d55ba3.gif") repeat;
        height: 100vh;
    }
    .form-control{
        border-radius: 3rem;
    }
    .duit{
        font-weight: bold;
        color: brown;
    }
    #navbar{
        height: 5rem;
    }

    #logonavbar{
        width: 5rem;
    }
    
    /*  INDEX  */
    #rc_bg1{
        position: relative;
    }

    #rc_opening{
        background: url("/static/bg1.013cfc1701e1.gif");
        /* height: 100vh; */
    }
    
    #rc_logo{
        padding-top: 3%;
        width: 30rem;
    }
    
    #rct_judul{
        color: white;
        padding-left: 30%;
        padding-right: 30%;
        text-align: center;
        /* text-align-last: justify; */
    }
    .center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #rc_vector{
        padding-top: 1rem;
        width: 50rem;
    }
    #rct_form{
        display: flex;
    }

    #rc_form{
        margin-bottom: 1rem;
    }

    #rc_formcard{
        padding-top: 2%;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #rc_cardcontainer{
        display: flex;
    }

    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    #rc_button{
        padding-top: 1rem;
    }

    #rc_donations{
        margin-bottom: 2rem;
    }

    #details{
        padding-top: 1rem;
        padding-left: 0.5rem;
    }

    .card-title{
        font-weight: bold;
    }

    .submit{
        border: solid #1b2856 0.1rem;
        color: #1b2856;
        border-radius: 2rem;
        height: 2.5rem;
        font-weight: bold;
        padding: 5px 15px;
        background: none;
        cursor: pointer;
    }

    .submitputih{
        border: solid white 0.1rem;
        color: white;
        border-radius: 2rem;
        width: 6rem;
        height: 2.5rem;
        font-weight: bold;
        background: none;
        cursor: pointer;
    }
    #tk_judul{
        font-weight: bold;
        color: white;
    }
    #tk_ket{
        color: white;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
    }

    

    /*  TENTANGKAMI  */
    
    
    /*  LIHATDONASI  */
    
    
    /*  DONASI  */
    
    
    /*  BUKADONASI  */
    
    
    /*  BERIKANDONASI  */
    /* } */

/* MEDIA QUERIES */
@media (max-width: 1100px) { 
    /*  INDEX  */
    #rct_judul{
        color: white;
        padding-left: 40%;
        padding-right: 10%;
        text-align: right;
        /* text-align-last: justify; */
    }

    #rc_logo{
        padding-top: 3%;
        width: 20rem;
    }
    
    
    /*  TENTANGKAMI  */
    
    
    /*  LIHATDONASI  */
    
    
    /*  DONASI  */
    
    
    /*  BUKADONASI  */
    
    
    /*  BERIKANDONASI  */
    
    
}

@media (max-width: 790px) {
    /*  INDEX  */
    #rc_logo{
        padding-top: 3%;
        width: 17rem;
    }

    #rc_vector{
        /* padding-top: %; */
        height: 16rem;
        width: auto;
    }

    #rct_judul{
        color: white;
        padding-left: 40%;
        padding-right: 10%;
        text-align: right;
        text-size-adjust: 60%;
        /* text-align-last: justify; */
    }
    
    /*  TENTANGKAMI  */
    
    
    /*  LIHATDONASI  */
    
    
    /*  DONASI  */
    
    
    /*  BUKADONASI  */
    
    
    /*  BERIKANDONASI  */
}

@media (max-width: 600px) { 
    /*  ALL  */
    
    
    /*  INDEX  */
    #rc_form{
        margin-bottom: 3rem;
    }

    #rc_vector{
        margin-top: 2rem;
        height: 14rem;
        width: auto;
    }

    #rc_logo{
        padding-top: 3%;
        width: 15rem;
    }
    
    #rct_judul{
        color: white;
        padding-left: 40%;
        padding-right: 10%;
        text-align: right;
        text-size-adjust: 60%;
        font-size: 0.7rem;
    }
    
    /*  TENTANGKAMI  */
    
    
    /*  LIHATDONASI  */
    
    
    /*  DONASI  */
    
    
    /*  BUKADONASI  */
    
    
    /*  BERIKANDONASI  */
    
    }

    @media (max-width: 480px) { 
        /*  ALL  */
        
        
        /*  INDEX  */
        #rc_form{
            margin-bottom: 3rem;
        }
    
        #rc_vector{
            margin-top: 6rem;
            height: 10rem;
            width: auto;
        }
    
        #rc_logo{
            padding-top: 3%;
            width: 10rem;
        }
        
        #rct_judul{
            color: white;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            text-size-adjust: 60%;
            font-size: 0.7rem;
        }
        
        /*  TENTANGKAMI  */
        
        
        /*  LIHATDONASI  */
        
        
        /*  DONASI  */
        
        
        /*  BUKADONASI  */
        
        
        /*  BERIKANDONASI  */
        
        }