.form-daftar{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: url('/static/bg2.gif') repeat; */
    /* background-color: var(--main-blue); */
    /* background-size: cover; */
    /* height: 100vh; */
    padding-top: 5rem;
    font-weight: bold;
    color: white;
}

.form-daftar2{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: url('/static/bg2.gif') repeat; */
    /* background-color: var(--main-blue); */
    /* background-size: cover; */
    /* height: 100vh; */
    padding-top: 5rem;
    font-weight: bold;
    color: white;
}

#bigform{
    max-width: 100vw;
}

.form-field{
    text-align: center;
    margin: 5%;
}
.form-baris{
    display: flex;
    width: 25rem;
    justify-content: space-between;
}
.form-baris-deskripsi{
    justify-content: center;
}

.input{
    height: 3rem;
    width: 18rem;
    border-radius: 3rem;
    border: none;
    padding: 0 10px 0 10px;
}

input{
    height: 3rem;
    width: 18rem;
    border-radius: 3rem;
    border: none;
    padding: 0 10px 0 10px;
}

.pilihan-kategori{
    max-width: 12rem;
}
.nama-donasi{
    width: 10rem;
}
.image-donasi{
    padding: 0;
    background: white;
    color: black;
}

.deskripsi-alasan{
    padding: 5rem 5rem;
    width: 25rem;
    height: 10rem;
}
.submit{
    border: solid white 0.1rem;
    color: white;
    border-radius: 2rem;
    width: 6rem;
    height: 2.5rem;
    font-weight: bold;
    background: none;
    cursor: pointer;
    margin-bottom: 3%;
}

input#id_image_donasi {
    padding: 3%;
}


@media (max-width: 600px) { 
    .center{
        display: inline-grid;
    }
}