{% extends 'base-template.html' %}
{% load static %}
{% block title %}
Donatsi
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/getDataSemuaPermohonan.js' %}"></script>
{% endblock %}

{% block content %}

<!-- Opening -->
<div id="rc_opening">
    <div class="center">
        <img id="rc_logo" src = "{% static 'donatsi.png' %}">
    </div>
            
    <div class="center">
        <h6 id="rct_judul"> Kami percaya, kemajuan teknologi sepatutnya dimanfaatkan untuk menghubungkan semangat kebaikan dan gotong-royong. 
            Dengan <b>Donatsi</b>, masyarakat bisa menggalang dana untuk beragam hal yang mereka perjuangkan maupun berdonasi 
            untuk hal yang ingin mereka bantu.</h6>
    </div>
            
    <div class="center">
        <img id="rc_vector" src = "{% static 'vector.png' %}">
    </div>

<!-- Form -->
    <div class="center">
    <h3 id="rct_form"> Ingin Berdonasi? </h3>
    </div>
    
    <!-- <div class="center" id = "rc_form">
        <form method="GET" action="{% url 'permohonan:list-permohonan' %}">
            <input class="form-control" type="text" name="query" placeholder="cari donasi...">
            <div class="center" id="rc_button">
                <input class="submit" type="submit" value="Search">
            </div>
        </form>
        
    </div> -->
    
    <div class="center" id="rc_button">
        <a href="{% url 'permohonan:list-permohonan' %}"><input class="submit" type="submit" value="Cari Permohonan Donasi"></a>
    </div>
    
</div>
<div id="rc_formcard">
    {% if recommendations %}
    <h1>Recommendations: </h1>
    <div class="card-group row" id="rc_cardcontainer">
        {% for permohonan in recommendations %}
            <div class="col-xl-3 col-md-4 col-12" id="rc_donations">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ permohonan.image_donasi.url }}" alt="image">
                    <div class="card-body">
                        <h4 class="card-title">{{ permohonan.nama_donasi }}</h4>
                        <p class="card-text">Kategori: {{ permohonan.kategori_alasan }}</p>
                        <p class="card-text">Deskripsi: {{ permohonan.deskripsi_singkat }}</p>
                        <h5 class="card-text duit">Rp. {{ permohonan.uang_terpenuhi }} / Rp. {{ permohonan.target_uang }}</h5>
                        <p class="card-text">Deadline: {{ permohonan.deadline }}</p>
                        <a href="{% url 'pemberian:daftar_pemberian' id=permohonan.id %}"><button class="submit">Donate</button></a>
                        <a href="{% url 'permohonan:detail-permohonan' id=permohonan.id %}"><p id="details" class="permohonan-details">Details</p></a>            
                    </div>
            </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
</div>
